
{{ define "html-start" }}
<!DOCTYPE html>

<html data-theme="zdtheme">
{{ end }}

{{ define "html-end" }}
</html>
{{ end }}

{{ define "meta" }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="scaffolded-by" content="https://github.com/dart-lang/sdk">
    <title>{{.}}</title>
    
{{ end }}

{{ define "loading-circle" }}
<div class="flex h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]" role="status">
    <span class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Loading...</span>
</div> 
{{ end }}